In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob
import os
import chardet

In [ ]:
# 利用chardet查詢編碼格式
with open('./test/2018-07-30.csv', 'rb') as f:
    raw_data = f.read()
result = chardet.detect(raw_data)
print(result)

In [ ]:
#將所有csv檔案的申請人欄位都複製到新的distributor欄位
files = glob('./test/new/20*.csv')
for file in files:
    temp_df = pd.read_csv(file)
    temp_df.insert(loc=5, column='distributor', value=temp_df.iloc[:, 4])
    temp_df.to_csv(file, index=False)

In [31]:
#所有csv合併
files = glob('./test/new/20*.csv')

df= pd.concat(
    (pd.read_csv(file, usecols=
                 ['國別地區','中文片名','上映日期','distributor','出品','銷售票數','銷售金額','Date Range'], 
                 thousands=',',encoding='UTF-8') 
                 for file in files),ignore_index=True)
df['Date Range'] = pd.to_datetime(df['Date Range'])
print(df) 
# df.to_csv("2018-2023 all.csv")
# df.to_excel("2018-2023 all.xlsx")

       國別地區           中文片名        上映日期          distributor
0        英國  馬克白（英國國家劇院現場）  2019/06/03           威秀影城股份有限公司  \
1        美國           恐怖大媽  2019/05/31  美商美國環球影片股份有限公司台灣分公司
2      中華民國             出發  2019/05/31        牽猴子整合行銷股份有限公司
3        美國           紅色密令  2019/05/31        采昌國際多媒體股份有限公司
4      中華民國           日落之前  2019/05/31           車庫娛樂股份有限公司
...     ...            ...         ...                  ...
22748    美國     凸搥特派員:三度出擊  2018/09/21  美商美國環球影片股份有限公司台灣分公司
22749    美國             暗算  2018/08/31         可樂藝術文創股份有限公司
22750    日本    名偵探柯南:零的執行人  2018/07/06             向洋影業有限公司
22751   西班牙       100公尺的人生  2017/04/28        采昌國際多媒體股份有限公司
22752    日本       陽光只在這裡燦爛  2015/09/18         佳映娛樂國際股份有限公司

                                      出品   銷售票數     銷售金額 Date Range
0                       National Theatre     61    37480 2019-06-03
1      UNIVERSAL INTERNATIONAL FILMS LLC  34028  7892071 2019-06-03
2                             相知國際股份有限公司  17223  3952016 2019-06-03
3               EMBANKMENT FILMS LIMITED   2258   475421 2019-06-03
4                     財團法人天主教失智老人社會福利基金會   1103   242253 2019-06-03
...                                  ...    ...      ...        ...
22748  UNIVERSAL INTERNATIONAL FILMS LLC     82     4510 2019-01-07
22749       FORTITUDE INTERNATIONAL INC.     85    12540 2019-01-07
22750         TMS ENTERTAINMENT CO.,LTD.    375   173540 2019-01-07
22751             CASTELAO PICTURES,S.L.      0        0 2019-01-07
22752               OPEN SESAME CO.,LTD.      1      150 2019-01-07

[22753 rows x 8 columns]

In [29]:
print(df['Date Range'].dtype)

datetime64[ns]

In [30]:
print(df.isnull().sum())
print(df.columns)
print(df.dtypes)

國別地區           4
中文片名           0
上映日期           0
distributor    3
銷售票數           0
銷售金額           0
Date Range     0
dtype: int64
Index(['國別地區', '中文片名', '上映日期', 'distributor', '銷售票數', '銷售金額', 'Date Range'], dtype='object')
國別地區                   object
中文片名                   object
上映日期                   object
distributor            object
銷售票數                    int64
銷售金額                    int64
Date Range     datetime64[ns]
dtype: object

In [4]:
#df_title 以title統計票房
files = glob('./test/new/20*.csv')

df_all = pd.concat(
    (pd.read_csv(file, usecols=
                 ['distributor','中文片名','銷售票數','銷售金額'], 
                 thousands=',',encoding='UTF-8') 
                 for file in files),ignore_index=True)

df_all = df_all.set_index('中文片名')
df_all = df_all.sort_index()

df_all_t = df_all.rename(columns={'銷售票數': 'Total 銷售票數', '銷售金額': 'Total 銷售金額'})
df_all_by_title = df_all_t.groupby('中文片名').sum()
df_all_by_title.sort_values('Total 銷售票數',ascending=False)
# df_all_by_title.to_csv("2018-2023 df_all_by_title.csv")
# df_all_by_title.to_excel("2018-2023 df_all_by_title.xlsx")

,distributor,Total 銷售票數,Total 銷售金額
中文片名,,,
捍衛戰士: 獨行俠,美商美國派拉蒙影片股份有限公司台灣分公司美商美國派拉蒙影片股份有限公司台灣分公司美商美國派拉...,2684565,735039764
鬼滅之刃劇場版 無限列車篇,木棉花國際股份有限公司木棉花國際股份有限公司木棉花國際股份有限公司木棉花國際股份有限公司木棉...,2110218,517196762
復仇者聯盟:終局之戰,台灣華特迪士尼股份有限公司台灣華特迪士尼股份有限公司台灣華特迪士尼股份有限公司台灣華特迪士尼...,1974242,513042271
阿凡達：水之道,博偉電影股份有限公司博偉電影股份有限公司博偉電影股份有限公司博偉電影股份有限公司博偉電影股份...,1743362,589894950
當男人戀愛時,金盞花大影業股份有限公司金盞花大影業股份有限公司金盞花大影業股份有限公司金盞花大影業股份有限...,1522314,364051925
...,...,...,...
危險的青春,國家電影及視聽文化中心,1,100
少女離家記,東昊影業有限公司,1,200
CODE GEASS反叛的魯路修II叛道,香港商甲上娛樂有限公司台灣分公司,0,0
燒肉粽2019,財團法人國家電影中心,0,0
小武 4K 數位修復版,財團法人桃園市文化基金會,0,0

In [5]:
#以出品公司統計cp

files = glob('./test/new/20*.csv')

df_all = pd.concat(
    (pd.read_csv(file, usecols=
                 ['distributor','中文片名','銷售票數','銷售金額'], 
                 thousands=',',encoding='UTF-8') 
                 for file in files),ignore_index=True)


df_all = df_all.set_index('distributor')
df_all = df_all.sort_index()

df_all_c = df_all.rename(columns={'銷售票數': 'Total 銷售票數', '銷售金額': 'Total 銷售金額'})
df_all_by_cp = df_all_c.groupby('distributor').sum()
df_all_by_cp.sort_values('Total 銷售票數',ascending=False)


# df_all_by_cp.to_csv("2018-2023 cp.csv")
# df_all_by_cp.to_excel("2018-2023 cp.xlsx")

,中文片名,Total 銷售票數,Total 銷售金額
distributor,,,
台灣華特迪士尼股份有限公司,阿拉丁尋龍使者：拉雅復仇者聯盟:終局之戰阿拉丁復仇者聯盟：無限之戰星際大戰外傳:韓索羅玩具總...,12665686,3078826354
美商華納兄弟（遠東）股份有限公司台灣分公司,怪獸與鄧不利多的秘密蝙蝠俠：開戰時刻黑暗騎士骨肉的總和沙丘賭命運轉手黑亞當北非諜影自殺突擊隊...,9491075,2306417090
車庫娛樂股份有限公司,界限薩滿母親過世時，我想吃掉她的骨灰錯位的青春福爾圖娜之瞳我們的美好時光決戰賽末點一屍到底愛...,7696754,1870070725
美商美國環球影片股份有限公司台灣分公司,詐騙女神侏羅紀世界: 統霸天下寶貝老闆：家大業大花漾女子玩命關頭9007 生死交戰玩命關頭:...,6367683,1522601531
美商美國派拉蒙影片股份有限公司台灣分公司,汪汪隊立大功電影版捍衛戰士+捍衛戰士：獨行俠捍衛戰士: 獨行俠巴比倫速成家庭音速小子失落謎城...,5600582,1424238783
...,...,...,...
樂到家國際娛樂股份有限公司,攀登者,7,1470
三創數位股份有限公司,奧尼熊與莎琳鼠奧尼熊與莎琳鼠,5,500
風尚國際文化傳媒股份有限公司,李茂扮太子,2,375
社團法人台灣女性影像學會,六個嫌疑犯,2,250
松澤國際影業股份有限公司,相愛相親相愛相親相愛相親相愛相親,1,150

In [36]:
#以整體年度季度統計票房
files = glob('./test/new/20*.csv')

df_all = pd.concat(
    (pd.read_csv(file, usecols=
                 ['銷售票數','銷售金額','Date Range'], 
                 thousands=',',encoding='UTF-8') 
                 for file in files),ignore_index=True)

df_all['Date Range'] = pd.to_datetime(df_all['Date Range'])
df_all = df_all.set_index('Date Range')
df_all = df_all.sort_index()

df_all_q = df_all.resample('Q').sum()
df_all_q = df_all_q.rename(columns={'銷售票數': 'Total 銷售票數', '銷售金額': 'Total 銷售金額'})
df_all_by_quarter = df_all_q.groupby(df_all_q.index.to_period('Q')).sum()
df_all_by_quarter
# df_all_by_quarter.to_csv("2018-2023 by_quarter.csv")
# df_all_by_quarter.to_excel("2018-2023 by_quarter.xlsx")

            Total 銷售票數  Total 銷售金額
Date Range
2018Q3         5499312  1264958061
2018Q4         7468408  1720569632
2019Q1         4919797  1136280877
2019Q2         7641817  1819981561
2019Q3         6741008  1557644681
2019Q4         6432067  1490840924
2020Q1         3062675   707326788
2020Q2         1101819   257262892
2020Q3         4930198  1168628630
2020Q4         5750046  1364494521
2021Q1         3929842   943524986
2021Q2         3084427   736730235
2021Q3         2114596   538815129
2021Q4         4532112  1126666521
2022Q1         3616594   887101374
2022Q2         4774435  1237386693
2022Q3         4230039  1074893917
2022Q4         3152135   863962858
2023Q1         6806948  1791989201
2023Q2         1508662   384186308

In [35]:
#以國家地區統計

files = glob('./test/new/20*.csv')

df_all = pd.concat(
    (pd.read_csv(file, usecols=
                 ['國別地區','銷售票數','銷售金額'], 
                 thousands=',',encoding='UTF-8') 
                 for file in files),ignore_index=True)


df_all = df_all.set_index('國別地區')
df_all = df_all.sort_index()

df_all_n = df_all.rename(columns={'銷售票數': 'Total 銷售票數', '銷售金額': 'Total 銷售金額'})
df_all_by_nation = df_all_n.groupby('國別地區').sum()


df_all_by_nation

# df_all_by_nation.to_csv("2018-2023 df_all_by_nation.csv")
# df_all_by_nation.to_excel("2018-2023 df_all_by_nation.xlsx")

           Total 銷售票數  Total 銷售金額
國別地區
不丹              36449     7643896
中國大陸            98756    22391233
中華民國         15460616  3623632737
中華民國/中國大陸          34        5850
丹麥              52472    11355277
...               ...         ...
韓國                389       84365
香港            1816314   412439575
香港/中國大陸             0           0
馬來西亞            37871     8380144
黎巴嫩               336       62980

[77 rows x 2 columns]

In [34]:
#以整體年度季度統計發行片量
files = glob('./test/new/20*.csv')

df_all = pd.concat(
    (pd.read_csv(file, usecols=
                 ['中文片名','Date Range'], 
                 thousands=',',encoding='UTF-8') 
                 for file in files),ignore_index=True)

df_all['Date Range'] = pd.to_datetime(df_all['Date Range'])
df_all = df_all.set_index('Date Range')
df_all = df_all.sort_index()

df_title_by_quarter = df_all.resample('Q').apply(lambda x: x['中文片名'].drop_duplicates().count())
df_title_by_quarter = df_title_by_quarter.to_frame('不重複的中文片名數量')  # list轉dataframe

df_title_by_quarter
# df_title_by_quarter.to_csv("2018-2023 df_title_by_quarter.csv")
# df_title_by_quarter.to_excel("2018-2023 df_title_by_quarter.xlsx")

            不重複的中文片名數量
Date Range
2018-09-30         229
2018-12-31         355
2019-03-31         260
2019-06-30         267
2019-09-30         301
2019-12-31         298
2020-03-31         301
2020-06-30         381
2020-09-30         373
2020-12-31         321
2021-03-31         270
2021-06-30         193
2021-09-30         199
2021-12-31         295
2022-03-31         260
2022-06-30         245
2022-09-30         286
2022-12-31         332
2023-03-31         263
2023-06-30         129

In [6]:
#以上映週數統計

files = glob('./test/new/20*.csv')

df_all = pd.concat(
    (pd.read_csv(file, usecols=
                 ['中文片名','Date Range'], 
                 thousands=',',encoding='UTF-8') 
                 for file in files),ignore_index=True)


df_all = df_all.set_index('中文片名')
df_all = df_all.sort_index()

df_all_by_times = df_all.groupby('中文片名').count()


df_all_by_times.sort_values('Date Range',ascending=False)

# df_all_by_times.to_csv("2018-2023 df_all_by_times.csv")
# df_all_by_times.to_excel("2018-2023 df_all_by_times.xlsx")

                  Date Range
中文片名
深海獵奇 3D                   94
哈柏太空之旅 3D                 94
巧虎電影 英雄遊樂園                45
捍衛戰士: 獨行俠                 42
普羅米亞                      40
...                      ...
愛戀依存症                      1
羅密歐與茱麗葉(馬修．伯恩精選)           1
再會：大人的禁斷戀愛                 1
再次相遇的日子                    1
#滑板少女                      1

[3296 rows x 1 columns]

In [8]:
#統計不同片商發片量
files = glob('./test/new/20*.csv')

df_all = pd.concat(
    (pd.read_csv(file, usecols=
                 ['出品','中文片名'], 
                 thousands=',',encoding='UTF-8') 
                 for file in files),ignore_index=True)

df_all_by_cps = df_all.drop_duplicates(subset=['出品', '中文片名']).groupby('出品')['中文片名'].count()
df_all_by_cps = pd.DataFrame(df_all_by_cps)
df_all_by_cps = df_all_by_cps.sort_values('中文片名',ascending=False)

df_all_by_cps

# df_all_by_cps.to_csv("2018-2023 df_all_by_cps.csv")
# df_all_by_cps.to_excel("2018-2023 df_all_by_cps.xlsx")

                                                    中文片名
出品
RELAY MOTION KFT.                                    199
WARNER BROS. PICTURES INTERNATIONAL.                  83
UNIVERSAL INTERNATIONAL FILMS LLC                     78
SONY PICTURES RELEASING INTERNATIONAL CORPORATION.    52
BUENA VISTA INTERNATIONAL, INC.                       38
...                                                  ...
Pathe Films S.A.S.                                     1
Pathe Fund Limited, acting through its division...     1
Antipode Sales & Distribution,LLC                      1
Perfect world co., ltd.                                1
 GLOBAL SCREEN GMBH                                    1

[1464 rows x 1 columns]